
body {
	font-family: Verdana, "Times New Roman", serif;
	background-color: #FEFEFE;
	margin-bottom: 200px;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th {
	text-align: left;
    background-color: #0080AA;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

td.first-child {
	text-align: center;
	color: green;
	background-color: #FEFEFE;
}

tr.divider {
	background-color: #0080AA;
}